<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpringCamp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/e4353a2c7e.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body class="d-flex text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>

                <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#"><i class="fas fa-tree"></i> SpringCamp</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle active" style="padding-top: 14px" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               My Projects
              </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <li><a class="dropdown-item" target="_blank" href="/">SpringCamp</a></li>
                                        <li><a class="dropdown-item" target="_blank" href="https://ayushmanyelpcamp1.pages.dev/">About SpringCamp</a></li>
                                        <li><a class="dropdown-item" target="_blank" href="http://airdisasters.me/">Air Disaster</a></li>
                                        <li><a class="dropdown-item" target="_blank" href="/">My Portfolio</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle active" style="padding-top: 14px" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    About Me
                  </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown ">
                                        <li><a class="dropdown-item" href="https://github.com/Ayushmanwebdeveloper" target="_blank">Git Hub</a></li>
                                         <li><a class="dropdown-item" target="_blank" href="/">My Portfolio</a></li>
                                        <li><a class="dropdown-item" href="https://www.instagram.com/ayushman__077/" target="_blank">Follow Me</a></li>

                                        <li><a class="dropdown-item" href="https://open.spotify.com/user/elm174o588eco2qu6mwk79v7m?si=2fb907dea3b14bf1 " target="_blank">Spotify</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item" id="ri">
                                    <a class="nav-link active " href="https://www.instagram.com/ayushman__077/ " target="_blank" style="padding-bottom: 0px;padding-top: 11px "><i class="fab fa-instagram fa-2x "></i></a>
                                </li>
                                <li class="nav-item" id="ri">
                                    <a class="nav-link active " href="https://www.linkedin.com/in/ayushmantripathi7724 " target="_blank" style="padding-bottom: 0px; padding-top: 11px "><i class="fab fa-linkedin fa-2x "></i></a>
                                </li>
                                <li class="nav-item" id="ri">
                                    <a class="nav-link active" href="https://open.spotify.com/user/elm174o588eco2qu6mwk79v7m?si=2fb907dea3b14bf1 " target="_blank " style="padding-bottom: 0px; padding-top: 11px "><i class="fab fa-spotify fa-2x "></i></i>
                                    </a>
                                </li>
                                <li class="nav-item" id="ri">
                                    <a class="nav-link active" href="https://github.com/Ayushmanwebdeveloper " target="_blank" style="padding-bottom: 0px; padding-top: 11px "><i class="fab fa-github fa-2x "></i></i>
                                    </a>
                                </li>
                                <% if(!currentUser) { %>
                                    <li class="nav-item px-auto" id="ri" style="padding-top: 4px">
                                        <a class="nav-link active" href="/register">Register</a>
                                    </li>
                                    <li class="nav-item px-auto" id="ri" style="padding-top: 4px">
                                        <a class="nav-link active" href="/login">Log In</a>
                                    </li>
                                    <% } else { %>
                                        <li class="nav-item px-auto" id="ri" style="padding-top: 4px">
                                            <a class="nav-link active" href="#! ">Account</a>
                                        </li>
                                        <li class="nav-item px-auto" id="ri" style="padding-top: 4px"><a class="nav-link active" href="#!">Log Out</a></li>
                                        <% } %>

                                            <!-- <li class="nav-item " id="ri ">
                  <a class="nav-link active " href="# "><i class="fab fa-facebook-square fa-2x "></i></a>
                </li> -->
                            </ul>


                        </div>
                    </div>
                </nav>

            </div>
        </header>
        <main class="" style="margin-top: 100px;">
            <h1>SpringCamp</h1>
            <p class="lead"> Welcome to SpringCamp! <br> Jump right in and explore our many campgrounds. <br> Feel free to share some of your own and comment on others!</p>
            <a href="/campgrounds" style="color: #333; text-shadow: none; " class="btn btn-lg btn-secondary font-weight-bold border-white bg-white ">View
                Campgrounds</a>
        </main>

        <footer class="mt-auto text-white-50">
            <p>&copy; Ayushman 2022 </p>
        </footer>


    </div>
<style>
nav {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1536183922588-166604504d5e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80");
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}
</style>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>
